<md-icon md-svg-icon="svg-3" class="avatar"></md-icon>
<div layout="row" layout-margin>
	<div flex="80">
		<h2 class="md-title">Happy DB People</h2>
	</div>
	<div flex layout-align="end">
		<md-button class="md-fab" aria-label="description" md-no-ink="true" md-ripple-size="full" ng-click="peopleController.showAddPerson(true)">+</md-button>
	</div>
</div>
<div flex-xs flex-gt-xs="100" layout="column">
	<md-card >
		<div ng-if="peopleController.isEditFormHidden()">
			<div ng-include="'/src/pages/people/view/addView.html'"></div>
		</div>
		<div ng-repeat="person in peopleController.people">
			<div ng-if="!person.editMode" ng-include="'/src/pages/people/view/readView.html'"></div>
			<div ng-if="person.editMode" ng-include="'/src/pages/people/view/editView.html'"></div>
		</div>
	</md-card>
</div>
